body { background: #111; color: #fff; font-family: Arial; padding: 15px; }
.title { text-align: center; font-size: 30px; margin-bottom: 20px; }

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
}

.movie-card {
  background: #222;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.movie-card img.thumb {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 8px;
}

.watch-btn {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background: #ff0033;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}
