body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.card {
  background: #222;
  padding: 10px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  background: #ff0055;
  color: white;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
  text-decoration: none;
}
